module.exports = {
  apps: [{
    name: '{{ pm2_instance }}',
    script: 'server.js',
    cwd: '{{ app_dir }}/.next/standalone',
    env: {
      NODE_ENV: 'production',
      PORT: 3000
    },
    watch: false,
    max_memory_restart: '512M',
    instances: 1,
    exec_mode: 'fork'
  }]
};